<form action= '<%= subs_url %>' method="POST">
  <label>Name
  <input type="text" name="sub[name]"
         </label>

   <!-- Five optional link fields. -->

   </br>
   <label> Link 1
   <label>Title
   <input type="text" name="links[1][title]">
        </label>

    <label>URL
    <input type="text" name="links[1][url]">
          </label>

    <label>Text
      <textarea
        name='links[1][text]'></textarea>
        </label>
      </label>

   </br>
    <label> Link 2
    <label>Title
    <input type="text" name="links[2][title]">
         </label>

     <label>URL
     <input type="text" name="links[2][url]">
           </label>

     <label>Text
       <textarea
         name='links[2][text]'></textarea>
         </label>
       </label>
   </br>
     <label> Link 3
     <label>Title
     <input type="text" name="links[3][title]">
          </label>

      <label>URL
      <input type="text" name="links[3][url]">
            </label>

      <label>Text
        <textarea
          name='links[3][text]'></textarea>
          </label>
        </label>
   </br>

      <label> Link 4
      <label>Title
      <input type="text" name="links[4][title]">
           </label>

       <label>URL
       <input type="text" name="links[4][url]">
             </label>

       <label>Text
         <textarea
           name='links[4][text]'></textarea>
           </label>
         </label>

   </br>
       <label> Link 5
       <label>Title
       <input type="text" name="links[5][title]">
            </label>

        <label>URL
        <input type="text" name="links[5][url]">
              </label>

        <label>Text
          <textarea
            name='links[5][text]'></textarea>
            </label>
          </label>


</form>